API/WebApi.sln
API/WebApi.sln

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
UI/UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
API/Back-End.v12.suo
API/BussinessLogicTests/bin/Debug/BussinessLogic.dll
API/BussinessLogicTests/bin/Debug/BussinessLogic.pdb
API/BussinessLogicTests/bin/Debug/BussinessLogicTests.dll
API/BussinessLogicTests/bin/Debug/BussinessLogicTests.pdb
API/BussinessLogicTests/bin/Debug/Contracts.dll
API/BussinessLogicTests/bin/Debug/Contracts.pdb
API/BussinessLogicTests/bin/Debug/DataLayer.dll
API/BussinessLogicTests/bin/Debug/DataLayer.pdb
API/BussinessLogicTests/bin/Debug/Logging.dll
API/BussinessLogicTests/bin/Debug/Logging.pdb
API/BussinessLogicTests/bin/Debug/Models.dll
API/BussinessLogicTests/bin/Debug/Models.pdb
API/BussinessLogicTests/bin/Release/BussinessLogic.dll
API/BussinessLogicTests/bin/Release/BussinessLogic.pdb
API/BussinessLogicTests/bin/Release/BussinessLogicTests.dll
API/BussinessLogicTests/bin/Release/BussinessLogicTests.pdb
API/BussinessLogicTests/bin/Release/Contracts.dll
API/BussinessLogicTests/bin/Release/Contracts.pdb
API/BussinessLogicTests/bin/Release/DataLayer.dll
API/BussinessLogicTests/bin/Release/DataLayer.pdb
API/BussinessLogicTests/bin/Release/Logging.dll
API/BussinessLogicTests/bin/Release/Logging.pdb
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.csprojResolveAssemblyReference.cache
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.dll
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.pdb
API/BussinessLogicTests/obj/Release/BussinessLogicTests.csproj.FileListAbsolute.txt
API/BussinessLogicTests/obj/Release/BussinessLogicTests.csprojResolveAssemblyReference.cache
API/BussinessLogicTests/obj/Release/BussinessLogicTests.dll
API/BussinessLogicTests/obj/Release/BussinessLogicTests.pdb
API/source/BussinessLogic/bin/Debug/BussinessLogic.dll
API/source/BussinessLogic/bin/Debug/BussinessLogic.pdb
API/source/BussinessLogic/bin/Debug/Contracts.dll
API/source/BussinessLogic/bin/Debug/Contracts.pdb
API/source/BussinessLogic/bin/Debug/DataLayer.dll
API/source/BussinessLogic/bin/Debug/DataLayer.pdb
API/source/BussinessLogic/bin/Debug/Logging.dll
API/source/BussinessLogic/bin/Debug/Logging.pdb
API/source/BussinessLogic/bin/Debug/Models.dll
API/source/BussinessLogic/bin/Debug/Models.pdb
API/source/BussinessLogic/bin/Release/BussinessLogic.dll
API/source/BussinessLogic/bin/Release/BussinessLogic.pdb
API/source/BussinessLogic/bin/Release/Contracts.dll
API/source/BussinessLogic/bin/Release/Contracts.pdb
API/source/BussinessLogic/bin/Release/DataLayer.dll
API/source/BussinessLogic/bin/Release/DataLayer.pdb
API/source/BussinessLogic/bin/Release/Logging.dll
API/source/BussinessLogic/bin/Release/Logging.pdb
API/source/BussinessLogic/obj/Debug/BussinessLogic.csprojResolveAssemblyReference.cache
API/source/BussinessLogic/obj/Debug/BussinessLogic.dll
API/source/BussinessLogic/obj/Debug/BussinessLogic.pdb
API/source/BussinessLogic/obj/Release/BussinessLogic.csprojResolveAssemblyReference.cache
API/source/BussinessLogic/obj/Release/BussinessLogic.dll
API/source/BussinessLogic/obj/Release/BussinessLogic.pdb
API/source/Contracts/bin/Debug/Contracts.dll
API/source/Contracts/bin/Debug/Contracts.pdb
API/source/Contracts/bin/Debug/Models.dll
API/source/Contracts/bin/Debug/Models.pdb
API/source/Contracts/bin/Release/Contracts.dll
API/source/Contracts/bin/Release/Contracts.pdb
API/source/Contracts/bin/Release/Models.dll
API/source/Contracts/bin/Release/Models.pdb
API/source/Contracts/obj/Debug/Contracts.csprojResolveAssemblyReference.cache
API/source/Contracts/obj/Debug/Contracts.dll
API/source/Contracts/obj/Debug/Contracts.pdb
API/source/Contracts/obj/Release/Contracts.csprojResolveAssemblyReference.cache
API/source/Contracts/obj/Release/Contracts.dll
API/source/Contracts/obj/Release/Contracts.pdb
API/source/Controllers/bin/Debug/BussinessLogic.dll
API/source/Controllers/bin/Debug/BussinessLogic.pdb
API/source/Controllers/bin/Debug/Contracts.dll
API/source/Controllers/bin/Debug/Contracts.pdb
API/source/Controllers/bin/Debug/Controllers.dll
API/source/Controllers/bin/Debug/Controllers.pdb
API/source/Controllers/bin/Debug/DataLayer.dll
API/source/Controllers/bin/Debug/DataLayer.pdb
API/source/Controllers/bin/Debug/Logging.dll
API/source/Controllers/bin/Debug/Logging.pdb
API/source/Controllers/bin/Debug/Models.dll
API/source/Controllers/bin/Debug/Models.pdb
API/source/Controllers/bin/Release/BussinessLogic.dll
API/source/Controllers/bin/Release/BussinessLogic.pdb
API/source/Controllers/bin/Release/Contracts.dll
API/source/Controllers/bin/Release/Contracts.pdb
API/source/Controllers/bin/Release/Controllers.dll
API/source/Controllers/bin/Release/Controllers.pdb
API/source/Controllers/bin/Release/DataLayer.dll
API/source/Controllers/bin/Release/DataLayer.pdb
API/source/Controllers/bin/Release/Logging.dll
API/source/Controllers/bin/Release/Logging.pdb
API/source/Controllers/obj/Debug/Controllers.csprojResolveAssemblyReference.cache
API/source/Controllers/obj/Debug/Controllers.dll
API/source/Controllers/obj/Debug/Controllers.pdb
API/source/Controllers/obj/Release/Controllers.csprojResolveAssemblyReference.cache
API/source/Controllers/obj/Release/Controllers.dll
API/source/Controllers/obj/Release/Controllers.pdb
API/source/DataLayer/bin/Debug/DataLayer.dll
API/source/DataLayer/bin/Debug/DataLayer.pdb
API/source/DataLayer/bin/Debug/Models.dll
API/source/DataLayer/bin/Debug/Models.pdb
API/source/DataLayer/bin/Release/DataLayer.dll
API/source/DataLayer/bin/Release/DataLayer.pdb
API/source/DataLayer/bin/Release/Models.dll
API/source/DataLayer/bin/Release/Models.pdb
API/source/DataLayer/obj/Debug/DataLayer.csprojResolveAssemblyReference.cache
API/source/DataLayer/obj/Debug/DataLayer.dll
API/source/DataLayer/obj/Debug/DataLayer.pdb
API/source/DataLayer/obj/Release/DataLayer.csprojResolveAssemblyReference.cache
API/source/DataLayer/obj/Release/DataLayer.dll
API/source/DataLayer/obj/Release/DataLayer.pdb
API/source/Host/bin/Debug/ApiHost.exe
API/source/Host/bin/Debug/ApiHost.exe.config
API/source/Host/bin/Debug/ApiHost.pdb
API/source/Host/bin/Debug/ApiHost.vshost.exe.config
API/source/Host/bin/Debug/BussinessLogic.dll
API/source/Host/bin/Debug/BussinessLogic.pdb
API/source/Host/bin/Debug/Contracts.dll
API/source/Host/bin/Debug/Contracts.pdb
API/source/Host/bin/Debug/Controllers.dll
API/source/Host/bin/Debug/Controllers.pdb
API/source/Host/bin/Debug/DataLayer.dll
API/source/Host/bin/Debug/DataLayer.pdb
API/source/Host/bin/Debug/Logging.dll
API/source/Host/bin/Debug/Logging.pdb
API/source/Host/bin/Debug/Models.dll
API/source/Host/bin/Debug/Models.pdb
API/source/Host/obj/Debug/ApiHost.exe
API/source/Host/obj/Debug/ApiHost.pdb
API/source/Host/obj/Debug/Host.csprojResolveAssemblyReference.cache
API/source/Host/obj/Release/Host.csprojResolveAssemblyReference.cache
API/source/Logging/bin/Debug/Logging.dll
API/source/Logging/bin/Debug/Logging.pdb
API/source/Logging/bin/Debug/Models.dll
API/source/Logging/bin/Debug/Models.pdb
API/source/Logging/bin/Release/Logging.dll
API/source/Logging/bin/Release/Logging.pdb
API/source/Logging/bin/Release/Models.dll
API/source/Logging/bin/Release/Models.pdb
API/source/Logging/obj/Debug/Logging.csprojResolveAssemblyReference.cache
API/source/Logging/obj/Debug/Logging.dll
API/source/Logging/obj/Debug/Logging.pdb
API/source/Logging/obj/Release/Logging.csproj.GenerateResource.Cache
API/source/Logging/obj/Release/Logging.csprojResolveAssemblyReference.cache
API/source/Logging/obj/Release/Logging.dll
API/source/Logging/obj/Release/Logging.pdb
API/source/Models/bin/Debug/Models.dll
API/source/Models/bin/Debug/Models.pdb
API/source/Models/bin/Release/Models.dll
API/source/Models/bin/Release/Models.pdb
API/source/Models/obj/Debug/Models.csprojResolveAssemblyReference.cache
API/source/Models/obj/Debug/Models.dll
API/source/Models/obj/Debug/Models.pdb
API/source/Models/obj/Release/Models.dll
API/source/Models/obj/Release/Models.pdb
UI/UI.v12.suo
API/Back-End.v12.suo
API/BussinessLogicTests/bin/Debug/BussinessLogic.dll
API/BussinessLogicTests/bin/Debug/BussinessLogic.pdb
API/BussinessLogicTests/bin/Debug/BussinessLogicTests.dll
API/BussinessLogicTests/bin/Debug/BussinessLogicTests.pdb
API/BussinessLogicTests/bin/Debug/Contracts.dll
API/BussinessLogicTests/bin/Debug/Contracts.pdb
API/BussinessLogicTests/bin/Debug/DataLayer.dll
API/BussinessLogicTests/bin/Debug/DataLayer.pdb
API/BussinessLogicTests/bin/Debug/Logging.dll
API/BussinessLogicTests/bin/Debug/Logging.pdb
API/BussinessLogicTests/bin/Debug/Models.dll
API/BussinessLogicTests/bin/Debug/Models.pdb
API/BussinessLogicTests/bin/Release/BussinessLogic.dll
API/BussinessLogicTests/bin/Release/BussinessLogic.pdb
API/BussinessLogicTests/bin/Release/BussinessLogicTests.dll
API/BussinessLogicTests/bin/Release/BussinessLogicTests.pdb
API/BussinessLogicTests/bin/Release/Contracts.dll
API/BussinessLogicTests/bin/Release/Contracts.pdb
API/BussinessLogicTests/bin/Release/DataLayer.dll
API/BussinessLogicTests/bin/Release/DataLayer.pdb
API/BussinessLogicTests/bin/Release/Logging.dll
API/BussinessLogicTests/bin/Release/Logging.pdb
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.csprojResolveAssemblyReference.cache
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.dll
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.pdb
API/BussinessLogicTests/obj/Release/BussinessLogicTests.csproj.FileListAbsolute.txt
API/BussinessLogicTests/obj/Release/BussinessLogicTests.csprojResolveAssemblyReference.cache
API/BussinessLogicTests/obj/Release/BussinessLogicTests.dll
API/BussinessLogicTests/obj/Release/BussinessLogicTests.pdb
API/source/BussinessLogic/bin/Debug/BussinessLogic.dll
API/source/BussinessLogic/bin/Debug/BussinessLogic.pdb
API/source/BussinessLogic/bin/Debug/Contracts.dll
API/source/BussinessLogic/bin/Debug/Contracts.pdb
API/source/BussinessLogic/bin/Debug/DataLayer.dll
API/source/BussinessLogic/bin/Debug/DataLayer.pdb
API/source/BussinessLogic/bin/Debug/Logging.dll
API/source/BussinessLogic/bin/Debug/Logging.pdb
API/source/BussinessLogic/bin/Debug/Models.dll
API/source/BussinessLogic/bin/Debug/Models.pdb
API/source/BussinessLogic/bin/Release/BussinessLogic.dll
API/source/BussinessLogic/bin/Release/BussinessLogic.pdb
API/source/BussinessLogic/bin/Release/Contracts.dll
API/source/BussinessLogic/bin/Release/Contracts.pdb
API/source/BussinessLogic/bin/Release/DataLayer.dll
API/source/BussinessLogic/bin/Release/DataLayer.pdb
API/source/BussinessLogic/bin/Release/Logging.dll
API/source/BussinessLogic/bin/Release/Logging.pdb
API/source/BussinessLogic/obj/Debug/BussinessLogic.csprojResolveAssemblyReference.cache
API/source/BussinessLogic/obj/Debug/BussinessLogic.dll
API/source/BussinessLogic/obj/Debug/BussinessLogic.pdb
API/source/BussinessLogic/obj/Release/BussinessLogic.csprojResolveAssemblyReference.cache
API/source/BussinessLogic/obj/Release/BussinessLogic.dll
API/source/BussinessLogic/obj/Release/BussinessLogic.pdb
API/source/Contracts/bin/Debug/Contracts.dll
API/source/Contracts/bin/Debug/Contracts.pdb
API/source/Contracts/bin/Debug/Models.dll
API/source/Contracts/bin/Debug/Models.pdb
API/source/Contracts/bin/Release/Contracts.dll
API/source/Contracts/bin/Release/Contracts.pdb
API/source/Contracts/bin/Release/Models.dll
API/source/Contracts/bin/Release/Models.pdb
API/source/Contracts/obj/Debug/Contracts.csprojResolveAssemblyReference.cache
API/source/Contracts/obj/Debug/Contracts.dll
API/source/Contracts/obj/Debug/Contracts.pdb
API/source/Contracts/obj/Release/Contracts.csprojResolveAssemblyReference.cache
API/source/Contracts/obj/Release/Contracts.dll
API/source/Contracts/obj/Release/Contracts.pdb
API/source/Controllers/bin/Debug/BussinessLogic.dll
API/source/Controllers/bin/Debug/BussinessLogic.pdb
API/source/Controllers/bin/Debug/Contracts.dll
API/source/Controllers/bin/Debug/Contracts.pdb
API/source/Controllers/bin/Debug/Controllers.dll
API/source/Controllers/bin/Debug/Controllers.pdb
API/source/Controllers/bin/Debug/DataLayer.dll
API/source/Controllers/bin/Debug/DataLayer.pdb
API/source/Controllers/bin/Debug/Logging.dll
API/source/Controllers/bin/Debug/Logging.pdb
API/source/Controllers/bin/Debug/Models.dll
API/source/Controllers/bin/Debug/Models.pdb
API/source/Controllers/bin/Release/BussinessLogic.dll
API/source/Controllers/bin/Release/BussinessLogic.pdb
API/source/Controllers/bin/Release/Contracts.dll
API/source/Controllers/bin/Release/Contracts.pdb
API/source/Controllers/bin/Release/Controllers.dll
API/source/Controllers/bin/Release/Controllers.pdb
API/source/Controllers/bin/Release/DataLayer.dll
API/source/Controllers/bin/Release/DataLayer.pdb
API/source/Controllers/bin/Release/Logging.dll
API/source/Controllers/bin/Release/Logging.pdb
API/source/Controllers/obj/Debug/Controllers.csprojResolveAssemblyReference.cache
API/source/Controllers/obj/Debug/Controllers.dll
API/source/Controllers/obj/Debug/Controllers.pdb
API/source/Controllers/obj/Release/Controllers.csprojResolveAssemblyReference.cache
API/source/Controllers/obj/Release/Controllers.dll
API/source/Controllers/obj/Release/Controllers.pdb
API/source/DataLayer/bin/Debug/DataLayer.dll
API/source/DataLayer/bin/Debug/DataLayer.pdb
API/source/DataLayer/bin/Debug/Models.dll
API/source/DataLayer/bin/Debug/Models.pdb
API/source/DataLayer/bin/Release/DataLayer.dll
API/source/DataLayer/bin/Release/DataLayer.pdb
API/source/DataLayer/bin/Release/Models.dll
API/source/DataLayer/bin/Release/Models.pdb
API/source/DataLayer/obj/Debug/DataLayer.csprojResolveAssemblyReference.cache
API/source/DataLayer/obj/Debug/DataLayer.dll
API/source/DataLayer/obj/Debug/DataLayer.pdb
API/source/DataLayer/obj/Release/DataLayer.csprojResolveAssemblyReference.cache
API/source/DataLayer/obj/Release/DataLayer.dll
API/source/DataLayer/obj/Release/DataLayer.pdb
API/source/Host/bin/Debug/ApiHost.exe
API/source/Host/bin/Debug/ApiHost.exe.config
API/source/Host/bin/Debug/ApiHost.pdb
API/source/Host/bin/Debug/ApiHost.vshost.exe.config
API/source/Host/bin/Debug/BussinessLogic.dll
API/source/Host/bin/Debug/BussinessLogic.pdb
API/source/Host/bin/Debug/Contracts.dll
API/source/Host/bin/Debug/Contracts.pdb
API/source/Host/bin/Debug/Controllers.dll
API/source/Host/bin/Debug/Controllers.pdb
API/source/Host/bin/Debug/DataLayer.dll
API/source/Host/bin/Debug/DataLayer.pdb
API/source/Host/bin/Debug/Logging.dll
API/source/Host/bin/Debug/Logging.pdb
API/source/Host/bin/Debug/Models.dll
API/source/Host/bin/Debug/Models.pdb
API/source/Host/obj/Debug/ApiHost.exe
API/source/Host/obj/Debug/ApiHost.pdb
API/source/Host/obj/Debug/Host.csprojResolveAssemblyReference.cache
API/source/Host/obj/Release/Host.csprojResolveAssemblyReference.cache
API/source/Logging/bin/Debug/Logging.dll
API/source/Logging/bin/Debug/Logging.pdb
API/source/Logging/bin/Debug/Models.dll
API/source/Logging/bin/Debug/Models.pdb
API/source/Logging/bin/Release/Logging.dll
API/source/Logging/bin/Release/Logging.pdb
API/source/Logging/bin/Release/Models.dll
API/source/Logging/bin/Release/Models.pdb
API/source/Logging/obj/Debug/Logging.csprojResolveAssemblyReference.cache
API/source/Logging/obj/Debug/Logging.dll
API/source/Logging/obj/Debug/Logging.pdb
API/source/Logging/obj/Release/Logging.csproj.GenerateResource.Cache
API/source/Logging/obj/Release/Logging.csprojResolveAssemblyReference.cache
API/source/Logging/obj/Release/Logging.dll
API/source/Logging/obj/Release/Logging.pdb
API/source/Models/bin/Debug/Models.dll
API/source/Models/bin/Debug/Models.pdb
API/source/Models/bin/Release/Models.dll
API/source/Models/bin/Release/Models.pdb
API/source/Models/obj/Debug/Models.csprojResolveAssemblyReference.cache
API/source/Models/obj/Debug/Models.dll
API/source/Models/obj/Debug/Models.pdb
API/source/Models/obj/Release/Models.dll
API/source/Models/obj/Release/Models.pdb
UI/UI.v12.suo
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.csproj.FileListAbsolute.txt
API/BussinessLogicTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/BussinessLogic/obj/Debug/BussinessLogic.csproj.FileListAbsolute.txt
API/source/BussinessLogic/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/Contracts/obj/Debug/Contracts.csproj.FileListAbsolute.txt
API/source/Contracts/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/Controllers/obj/Debug/Controllers.csproj.FileListAbsolute.txt
API/source/Controllers/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/DataLayer/obj/Debug/DataLayer.csproj.FileListAbsolute.txt
API/source/DataLayer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/Logging/obj/Debug/Logging.csproj.FileListAbsolute.txt
API/source/Logging/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/Models/obj/Debug/Models.csproj.FileListAbsolute.txt
API/source/Models/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/source/Models/obj/Release/Models.csproj.FileListAbsolute.txt
API/source/Host/obj/Debug/Host.csproj.FileListAbsolute.txt
API/source/Controllers/obj/Debug/Controllers.csproj.FileListAbsolute.txt
API/source/Controllers/obj/Debug/Controllers.csproj.FileListAbsolute.txt
API/source/BussinessLogic/obj/Debug/BussinessLogic.csproj.FileListAbsolute.txt
API/source/BussinessLogic/Handlers/ReportComponentHandlers/UpdateHandler.cs
API/source/BussinessLogic/BussinessLogic.csproj
API/BussinessLogicTests/obj/Debug/BussinessLogicTests.csproj.FileListAbsolute.txt
UI/UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
