.sortable>li, .sortable>button {
    display: inline;
    list-style-type: none;
   // padding-right: 20px;
    float: left;
}

.sortable .btn {
    height: 30px;
}

.sortable-placeholder{
    display: inline-block;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px dashed;
    border-radius: 4px;
    border-color: #353535;
    height: auto;
}


.wizard-nav, .component-listView, .form-horizontal.well {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.handle {
    cursor: move;
}

li {
    margin: 5px;
}

.form-horizontal.well .sortable {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}