@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Report Builder</title>
</head>
<body>
    <div id="app"></div>

    <script data-main="../Scripts/Client/main" src="../Scripts/Client/lib/require.js"></script>

    
    <script>
        // TODO: Remove after implementing backbone.js
        /*$.getJSON("../api/report/getall", function (json) {
            console.log(json.data);
            var items = [];
            $.each(json.data, function (key, val) {
                items.push("<li id='" + val.ReportId + "'>" + val.Title + "</li>");
            });

            $("#testlist").append(items);
        });*/
    </script>

    <script id="reportTemplate" type="text/template">
        <ul>
            <li><%= title %></li>
            <li><%= id %></li>
        </ul>
    </script>
</body>
</html>
