@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Report Builder</title>

    <script src="../Scripts/Client/lib/jquery.js"></script>
    <script src="../Scripts/Client/lib/underscore.js"></script>
    <script src="../Scripts/Client/lib/backbone.js"></script>
    <script>
        // TODO: Remove after implementing backbone.js
        $.getJSON("../api/report/getall", function (json) {
            console.log(json.data);
            var items = [];
            $.each(json.data, function (key, val) {
                items.push("<li id='" + val.ReportId + "'>" + val.Title + "</li>");
            });

            $("#testlist").append(items);
        });
    </script>
</head>
<body>
    Here comes stuff from JSON: <div style="display: inline-block; color: green; ">// enjoy</div>
    <ul id="testlist"></ul>
</body>
</html>
