<table class="component-listView table table-striped heading-separation table-hover selectable-rows">

    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(Components, function(model) { %>
        <tr class="component-list-item">
            <td class="click" id="<%= model.Id %>"><%= model.Id %></td>
            <td class="click" id="<%= model.Id %>"><%= model.Title %></td>
            <td class="click" id="<%= model.Id %>"><%= model.Type %></td>
                
            <td id="<%= model.Id %>">
                <% if (!model.IsGenerated) { %>
                <% if (model.Type === 0) { %>
                <i class="gen adf-icon-alt-sadface"></i>
                <% } else if (model.Type === 1) { %>
                <i class="gen adf-icon-big-bars-vertical"></i>
                <% } else if (model.Type === 2) { %>
                <i class="gen adf-icon-big-table"></i>
                <% } else if (model.Type === 3) { %>
                <i class="gen adf-icon-big-graph"></i>
                <% } else if (model.Type === 4) { %>
                <i class="gen adf-icon-big-bars-horizontal"></i>
                <% } %>
                <% } else { %>
                <i class="adf-icon-alt-check"></i>
                <% } %>
                <i class="del adf-icon-small-close"></i>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>