<button class="btn btn-transparent pull-right" id="component-help"><i class="adf-icon-small-info blue-icon"></i></button>
<div class="grid 24 spacing-large">
    <h1 ><b><%=model.Title%></b></h1>
    <div class="span-14 to-l" style="min-width: 627px;padding-bottom: 0px; ">
        <div class="form-horizontal well">
            <div class="control-group ">
                <label class="control-label">Title</label>
                <div class="controls">
                    <input class="input-large" type="text" id="input" data-validate="required" value="<%=model.Title%>" required>
                    <span data-msg="title"></span>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <div class="radio-buttons horizontal">
                        <div class="radio-group">
                            <input type="radio" name="type-options" id="rb1" value="1">
                            <label for="rb1">KPI</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" name="type-options" id="rb2" value="2">
                            <label for="rb2">Table</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" name="type-options" id="rb3" value="3">
                            <label for="rb3">Timeline</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" name="type-options" id="rb4" value="4">
                            <label for="rb4">Chart</label>
                        </div>
                    </div>
                    <span data-msg="type"></span>
                    <span class="help-inline"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="span-14 " id="metrics-dimensions">

        <section data-cols="60" data-fluid="true">
            <div id="metric-list"></div>
        </section>

        <section data-cols="1" data-fluid="true"></section>

        <section data-cols="60" data-fluid="true">
            <div id="dimension-list"></div>
        </section>
    </div>
    <div class="span-14">
        <div class="button-group">
            <button class="btn btn-success" type="submit" id="component-submit">Save</button>
            <button class="btn btn-transparent" id="component-cancel">Cancel</button>
            <button class="btn btn-primary pull-right" id="component-preview" style="margin-right: 0px;">Preview</button>
        </div>
    </div>
</div>
<!--<div class="grid 12 spacing-large pull-right">-->
<!--    <img src="http://i.imgur.com/lr5KvH2.png" />-->
<!--</div>-->


<div id="pre" class="back-pic">
    <div id="preview"></div>
</div>

