<!--<i class="create adf-icon-toolbar-publish"></i>-->
<div class="table-toolbar">
    <div class="btn-group control-buttons">
        <div style="margin-bottom: 6px;">
            <a class="create btn btn-success"><i class="adf-icon-small-add-circle"></i><b>New Dashboard</b></a>
        </div>
    </div>
</div>

<table class="table table-striped heading-separation table-hover selectable-rows">
    <thead>
        <tr>
            <th>Title</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(Dashboards, function(model) { %>
        <tr class="dashboard-list-item">
            <td class="click" id="<%= model.Id %>"><%= model.Title %></td>
            <td id="<%= model.Id %>">
                <a class="del btn btn-transparent pull-right" style="margin-left: 5px;"><i class="adf-icon-small-close" style="margin: -2px;"></i></a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
