<div style="margin: auto" class="">
    <div class="row" style="margin: auto;display: inline-block">
        <h2 style="padding-left: 10px"><b><%= title %></b></h2>
    </div>
    <div class="pull-right" id="date-filter"></div>
    <% for (var i = 0; i < ComponentCount; i++) { %>
    <div class="row" style="margin:auto">
        <div class="editable" data-id="<%= i %>" id="dashboard-component-<%= i %>" style="list-style-type: none;">
            <div id="component-<%= i %>">
            </div>
        </div>
    </div>
    <% } %>
    <p></p>
    <div id="message"></div>
</div>
