<div id="menu">
    <ul class="wizard-nav">
        <ul class="pull-right">
            <li><a href="#report">My Report</a></li>
        </ul>
        <li><a href="#create">Create new</a></li>
        <li><a href="#list">List</a></li>
        <li><a href="#dashboards">Dashboards</a></li>
    </ul>
</div>


<div>
    <% for (var i = 0; i < ComponentCount; i++) { %>
        <ul>
            <li class="editable" id="dashboard-component-<%= i %>" style="list-style-type: none;">
                <div id="component-<%= i %>"></div>
                <div id="component-edit-<%= i %>"></div>
            </li>
        </ul>
    <% } %>
</div>