<div style="margin: auto" class=" span12">
    <div class="row" style="margin: auto">
        <div id="date-filter"></div>
        <br />
    </div>
    <% for (var i = 0; i < ComponentCount; i++) { %>
    <div class="row" style="margin:auto">
        <div class="editable" data-id="<%= i %>" id="dashboard-component-<%= i %>" style="list-style-type: none;">
            <div id="component-<%= i %>">
            </div>
        </div>
    </div>
    <% } %>
    <% if (ComponentCount == 0){ %>
        <div class="row well" style="margin:auto">Dashboard is currently empty : (</div>
    <% } %>

</div>