<script id="rangeSelectorTemplate" type="text/x-handlebars-template">
    <div id="rangeSelectorWrapper" class="tooltip info bottom-right range-comparator in" style="display: none">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-arrow over"></div>
        <div class="tooltip-inner">
            <div class="scheduler filters-range-selector clearfix">
                <div id="calendar" class="clearfix"></div>
                <div class="setup form-horizontal">
                    <div class="section transparent">
                        <div class="control-group">
                            <label class="control-label">From</label>
                            <div class="controls">
                                <input id="firstFrom" type="text" class="input-small right-align">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">To</label>
                            <div class="controls">
                                <input id="firstTo" type="text" class="input-small right-align">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="range-selector">
        <label>CHE</label>
</div>