<div align="right">
    <div id="picker" class="input-append date" data-format="YYYY-MM-DD" style="display:inline">
        <input type="text" value="<%= moment().format('YYYY-MM-DD')%>" />
        <a class="btn" style="font-size: 15px; height: 18px;"><i class="adf-icon-small-calendar"></i></a>
    </div>
    <span class="date-separator"> </span>
    <div id="picker2" class="input-append date" data-format="YYYY-MM-DD" style="display:inline">
        <input type="text" value="<%= moment().format('YYYY-MM-DD')%>" />
        <a class="btn" style="font-size: 15px; height: 18px; "><i class="adf-icon-small-calendar"></i></a>
    </div>
    <div style="display:inline; margin-left: 5px; padding-top: 2.5px">
<!--        <i class="adf-icon-small-search blue-icon"></i>-->
<!--        <i class="adf-icon-small-calendar"></i>-->
        <!--        <i class="adf-icon-toolbar-play"></i>-->
                <a class="btn" style="padding-top: 2.5px;"><i><b>generate</b></i></a>
    </div>
</div>