<div class="form-horizontal well">
    <div class="group-label">
        <label>Dimensions</label>
        <hr />
    </div>
    <ul id="sortable-dimensions" class="sortable">
        <% _.each(Dimensions, function(model, i) { %>
        <li draggable="true" class="">
            <div class="control-group dimension-group">
                <div class="controls dimension-controls">
                    <i class="handle adf-icon-alt-drag"></i>
                    <select class="dimension-select" placeholder="Select Dimension" data-no-results="No results">
                        <option></option>
                        <% _.each(Grouped, function(group){ %>
                        <optgroup label="<%= group[0].Group.GroupName %>">
                            <% _.each(group, function(Dimension){ %>
                            <option value="<%= Dimension.DimensionId %>" data-desc="<%= Dimension.Description %>"><%= Dimension.DisplayName %></option>
                            <% }); %>
                        </optgroup>
                        <% }); %>
                    </select>
                    <a><i class="removeDimension adf-icon-small-reset" id="<%= i %>"></i></a>
                </div>
            </div>
        </li>
        <% }); %>

        <button type="button" id="addDimension" class="btn btn-transparent btn-add">
            <i class="adf-icon-small-add-circle blue-icon"></i> Add Dimension
        </button>

    </ul>
</div>