<div id="menu">
    <ul class="wizard-nav">
        <ul class="pull-right">
            <li <%= data.activeReport %>><a href="#report">My Report</a></li>
        </ul>
        <li <%= data.activeNew %>><a href="#create">Create new</a></li>
        <li <%= data.activeList %>><a href="#list">List</a></li>
        <li <%= data.activeNew %> ><a href="#dashboards">Dashboards</a></li>
    </ul>
</div>

<div id="component-by-type">
</div>

<div class="form-horizontal well">
    <button class="btn pull-right" type="submit" id="generate-submit">Add to Report</button>
</div>