﻿<div class="form-horizontal well component" id="component-<%= Position %>">
    <div class="table-toolbar">
        <div class="group-label ">
            <div>
                <%= model.Title %>
                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn single-btn" data-toggle="dropdown" href="#">
                            <i class="adf-icon-toolbar-export"></i>
                            <!--<span class="caret"></span>-->
                        </a>
                        <ul class="dropdown-menu" style="overflow: hidden">
                            <li class="csv"><a href="">CSV</a></li>
                            <li class="pdf"><a href="">PDF</a></li>
                            <li class="xls"><a href="">XLS</a></li>
                        </ul>
                    </div>

                    <button class="edit-form gen btn btn-primary" type="submit" data-id="<%= Position %>" comp-id="<%= this.model.id %>">Edit</button>
                    <button class="del btn btn-primary" data-id="<%= this.model.id %>" comp-id="<%= this.model.id %>">X</button>
                </div>
            </div>
            <div id="component-edit-<%= Position %>"></div>
            <br />
            <hr />
        </div>
        <div id="date-filter" style="min-height: 46px;"></div>
    </div>
    <div class="sparklines" style="min-height: 54px;">
        <% _.each(Einstein.MetricValues, function(einsteinMetric, i) { %>
        <li>
            <span class="headline"><%= Metrics[i].DisplayName %></span>
            <span class="numbers">
                <%= einsteinMetric.Value %>
            </span>
        </li>
        <% }); %>
    </div>
</div>