<div class="form-horizontal well component" id="component-<%= Position %>">
    ﻿   <div class="table-toolbar" style="margin-top: -25px;">
        <div id="date-filter" class="pull-left" style="display: inline-flex;"></div>
        <div class="group-label pull-left x--ml-l " style="margin-top: 7px; margin-right: 15px;">
            <b><label style="font-size: 20px;"><%= model.Title %></label></b>
        </div>
        <div class="pull-right">
            <div id="component-buttons"></div>
        </div>
        <div id="component-edit-<%= Position %>"></div>
        <br />
        <hr />
    </div>
    <div class="sparklines" style="min-height: 54px;">
        <% _.each(Einstein.MetricValues, function(einsteinMetric, i) { %>
        <li>
            <span class="headline"><%= Metrics[i].DisplayName %></span>
            <span class="numbers">
                <%= einsteinMetric.Value %>
            </span>
        </li>
        <% }); %>
    </div>
</div>