
<div class="form-horizontal well component ">
    <div class="table-toolbar">
        <div class="group-label ">
            <label><%= model.Title %> <i style="margin-top: -6px;" class="gen adf-icon-big-bars-vertical pull-right" data-id="<%= Position %>" id="edit"></i></label>
            <div id="component-edit-<%= Position %>"></div>
            <hr />
        </div>
        <div id="date-filter"></div>
    </div>
    <div class="sparklines ">
        <%= String( Einstein) %>
        <%= Einstein.DimensionValues %>
        <%= 'test string' %>
        <% _.each(Einstein.DimensionValues, function(metric) { %>
        <li>
            <span class="headline"><%= metric.Key %></span>
            <span class="numbers">
                <%= metric.Value %>
            </span>
        </li>
        <% }); %>
    </div>
</div>
