<ul class="wizard-nav">
    <% _.each(items, function(item) { %>
        <% if(item.position === "right"){ %>
            <ul id="menu-right" class="pull-right">
                <% if(active === item.link){ %>
                    <li class="active"><a href="<%= item.link %>"><%= item.title %></a></li>
                <% } else { %>
                    <li><a href="<%= item.link %>"><%= item.title %></a></li>
                <% } %>
            </ul>
        <% } else{ %>
            <% if(active === item.link){ %>
                <li class="active"><a href="<%= item.link %>"><%= item.title %></a></li>
            <% } else { %>
                <li><a href="<%= item.link %>"><%= item.title %></a></li>
            <% } %>
        <% } %>
    <% }); %>
</ul>
