<div class="form-horizontal well">
    <div class="group-label">
        <label>Metrics</label>
        <hr />
    </div>
    <ul class="sortable">
        <% _.each(Metrics, function(model) { %>
            <li draggable="true" class="">
                <div class="btn-group">
                    <label class="btn single-btn" data-toggle="">
                        <i class="handle adf-icon-alt-drag"></i>
                        <%= model.Title %> (<%= model.Order %>)
                    </label>
                    <a class="btn single-btn" data-toggle="dropdown" href="#">
                        <i class="adf-icon-small-dropdown"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>Cia bus metrikos</li>
                    </ul>
                </div>

            </li>
        <% }); %>
        <li>
            <button type="button" id="addMetric" class="btn btn-transparent btn-add">
                <i class="adf-icon-small-add-circle blue-icon"></i> Add Metric
            </button>
        </li> 
    </ul>
</div>

