<div class="form-horizontal well">
    <div class="group-label">
        <label>Metrics</label>
        <hr />
    </div>
    <ul class="sortable">
        <% _.each(Metrics, function(model) { %>  
            <li draggable="true" class="">
                <div class="control-group metric-group">
                    <div class="controls metric-controls">
                        <i class="handle adf-icon-alt-drag"></i>
                        <select class="metric-select" placeholder="Select Metric" data-no-results="No results">
                            <option></option>
                            <% _.each(Grouped, function(group){ %>
                                <optgroup label="<%= group[0].Group.GroupName %>">
                                    <% _.each(group, function(Metric){ %>
                                    <option value="<%= Metric.MetricId %>" data-desc="<%= Metric.Description %>"><%= Metric.DisplayName %></option>
                                    <% }); %>
                                </optgroup>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </li>
        <% }); %> 

        <button type="button" id="addMetric" class="btn btn-transparent btn-add">
            <i class="adf-icon-small-add-circle blue-icon"></i> Add Metric
        </button>
         
    </ul>
</div>