﻿<div class="form-horizontal well component" id="component-<%= Position %>">

     <div class="table-toolbar">
         <div class="group-label pull-left x--ml-l " style="margin-top: 7px; margin-right: 15px;">
             <b><label style="font-size: 20px;"><%= model.Title %></label></b>
         </div>
         <div id="date-filter" class="pull-left" style="display: inline-flex;"></div>
         <div class="pull-right">
             <div id="component-buttons"></div>
         </div>
         <div id="component-edit-<%= Position %>"></div>
         <br />
         <hr />
     </div>
    <div id="table">

        <div class="table-menu">
            <ul class="wizard-nav">
                <% _.each(model.Dimensions, function(dimension) { %>
                <li class="selectedDimension" id="<%= dimension.DimensionId %>">
                    <a><%= dimension.DisplayName %></a>
                </li>
                <% }); %>
            </ul>
        </div>

        <table class="table table-striped heading-separation table-condensed">
            <thead>
                <tr>
                    <th class="sortable" id="<%= SelectedDimensionMnemonic %>">
                        <%= SelectedDimension %>
                    </th>
                    <% _.each(model.Metrics, function(metric) { %>
                    <th class="sortable" id="<%= metric.Mnemonic %>">
                        <%= metric.DisplayName %>
                    </th>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <% _.each(Data, function(einstein, i) { %>
                <tr>
                    <% _.each(_.values(einstein), function(value) { %>
                        <td><%= value %></td>
                    <% }); %>
                </tr>
                <% }); %>
            </tbody>
            <tfoot>
                <tr class="no-select">
                    <td>TOTAL</td>    
                    <% for (var i = 0, len = TotalValues.length; i < len; i++) { %>
                        <td><%= TotalValues[i] %></td>
                    <% }; %>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
