﻿<div class="form-horizontal well component" id="component-<%= Position %>">
    <div class="table-toolbar">
        <div class="group-label ">
            <div>
                <%= model.Title %>
                <div class="pull-right">
                    <div id="component-buttons"></div>
                </div>
            </div>
            <div id="component-edit-<%= Position %>"></div>
            <br />
            <hr />
        </div>
        <div id="date-filter" style="min-height: 46px;"></div>
    </div>
    <div id="timeline">
        <div class="timeline-menu">
            <ul class="wizard-nav">
                <ul class="pull-right">
                    <% _.each(model.Dimensions, function(dimension) { %>
                    <li class="selectedDimension" id="<%= dimension.DimensionId %>">
                        <a><%= dimension.DisplayName %></a>
                    </li>
                    <% }); %>
                </ul>

                <span class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="adf-helper-circle-blue">●</i>
                        <%= selectedMetrics[0] %>
                        <i class="adf-icon-small-dropdown"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <% _.each(model.Metrics, function(metric) { %>
                        <li class="selectedMetric1" id="<%= metric.MetricId %>">
                            <a><%= metric.DisplayName %></a>
                        </li>
                        <% }); %>
                    </ul>
                </span>

                <% if (model.Metrics.length > 1) { %>
                <span class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="adf-helper-circle-green">●</i>
                        <%= selectedMetrics[1] %>
                        <i class="adf-icon-small-dropdown"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <% _.each(model.Metrics, function(metric) { %>
                        <li class="selectedMetric2" id="<%= metric.MetricId %>">
                            <a><%= metric.DisplayName %></a>
                        </li>
                        <% }); %>
                    </ul>
                </span>
                <% } %>
            </ul>
        </div>

        <div id="highcharts"></div>
    </div>
</div>
