<div class="form-horizontal well component ">
    <div class="table-toolbar">
        <div class="group-label ">
            <label>
                <%= model.Title %>
                <div id="component-edit-<%= Position %>" class="pull-right">
                    <button class="btn btn-primary timelineEdit" type="submit" data-id="<%= Position %>" id="<%= this.model.id %>">Edit</button>
                </div>
                <!--                <i style="margin-top: -6px;" class="gen adf-icon-big-bars-vertical pull-right" data-id="<%= Position %>" id="edit"></i>-->
            </label>
            <br />
            <!--            <div id="component-edit-<%= Position %>"></div>-->
            <hr />
        </div>
        <div id="date-filter"></div>
        
        <div id="spinner"></div>
    </div>
    
    



    <div id="timeline">

        <div class="timeline-menu">
            <ul class="wizard-nav">
                <ul class="pull-right">
                    <% _.each(model.Dimensions, function(dimension) { %>
                    <li class="selectedDimension" id="<%= dimension.DimensionId %>">
                        <a><%= dimension.DisplayName %></a>
                    </li>
                    <% }); %>
                </ul>

                <span class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="adf-helper-circle-blue">●</i>
                        <%= selectedMetrics[0] %>
                        <i class="adf-icon-small-dropdown"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <% _.each(model.Metrics, function(metric) { %>
                        <li class="selectedMetric1" id="<%= metric.MetricId %>">
                            <a><%= metric.DisplayName %></a>
                        </li>
                        <% }); %>
                    </ul>
                </span>

                <% if (model.Metrics.length > 1) { %>
                <span class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="adf-helper-circle-green">●</i>
                        <%= selectedMetrics[1] %>
                        <i class="adf-icon-small-dropdown"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <% _.each(model.Metrics, function(metric) { %>
                        <li class="selectedMetric2" id="<%= metric.MetricId %>">
                            <a><%= metric.DisplayName %></a>
                        </li>
                        <% }); %>
                    </ul>
                </span>
                <% } %>
            </ul>
        </div>
        
        <div id="highcharts"></div>
    </div>
</div>
